[Desktop Entry]
Name=Graham Bridge
Comment=Bridge server for printing BRF files to local embossers
Exec=graham-bridge-linux-amd64
Icon=printer
Terminal=false
Type=Application
Categories=Utility;
